<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @photo.item_id %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @photo.filename %>
</p>

<p>
  <strong>Mime type:</strong>
  <%= @photo.mime_type %>
</p>

<p>
  <strong>File contents:</strong>
  <%= @photo.file_contents %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
